@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  .sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
  }
}

.btn-sukses {
  background-color: #ea580c;
  color: white;
  border: none;
}

.btn-sukses:hover {
  background-color: #f97316;
  color: white;
  transition: 0.3s;
}
.image {
  text-align: center;
  width: 50%;
  height: auto;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.hasil {
  max-height: 650px;
  overflow-y: auto;
}
.hasil::-webkit-scrollbar {
  width: 5px;
}

@media screen and (max-height: 1200px) {
  .hasil {
    height: 650px;
  }
  .menu {
    height: 800px;
  }
}
